@media only screen and (orientation:portrait){
  body {
    height: 100vw;
    transform: rotate(90deg);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

html {
    overflow: hidden;
}

body {
    background: linear-gradient(burlywood 10%, rgb(91, 73, 50));
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    align-items: flex-end;
}

.title p {
    color: #2b2116;
    font-size: 11px;
}

.piano {
    display: flex;
    width: 80vw;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.piano-panel {
    width: 80%;
    height: 30%;
    background-color: #e57e2a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-image: url('images/panel-reflex.png'); */
}

.piano-panel h1 {
    margin-left: auto;
}

.sinewavetype {
    width: 10%;
    height: 150%;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
}

.sawwavetype {
    width: 10%;
    height: 150%;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
}

img {
    border: 1px solid grey;
    border-radius: 50px;
    background-color: burlywood;
    width: 80%;
}

.piano-keys {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
}

.key-white {
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 6px solid #8C8C8C;
    border-radius: 0 0 8px 8px;
}

.key-white:active {
    background-color: #DDDDDD;
    border-bottom: 6px solid #DDDDDD;
}

.key-black {
    height: 60%;
    width: 15%;
    background: linear-gradient(#737373 10%, #0D0D0D);
    margin-left: -5%;
    margin-right: -4%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 6px solid grey;
    border-radius: 0 0 8px 8px;
    z-index: 0;
}

.key-black:active {
    background: #000000;
    border-bottom: 6px solid black;
}

button {
    margin-right: 2%;
}

.octave {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    border: 1px solid black;
}

.octave:active {
    background-color: #ff7300;
}

.octave p {
    font-size: 44px;
}

.selected {
background-color: #ff7300;
}

.unselected {
background-color: burlywood;
}

.started {
    background-color: green;
    color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
